<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.exchange.logging">
    <Appenders>
        <OpenSearchAppender name="OpenSearchAppender" indexName="pf2-simulator-logs" serviceName="pf2-simulator"/>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="OpenSearchAppender"/>
        </Root>
    </Loggers>
</Configuration>
